/* src/Signup.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

.signup-container {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  height: 100vh;
  background-image: url('./assets/thumbnail.jpg'); /* Set the background image */
  background-size: cover; /* Ensure the background image covers the container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  font-family: 'Roboto', sans-serif;
  overflow: hidden; /* Prevent scrolling */
}

.signup-form {
  background-color: rgba(255, 255, 255, 0.9); /* Add semi-transparent white background to form */
  padding: 2rem;
  border-radius: 8px 0 0 8px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  width: 450px; /* Adjust this value to change the width of the form */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center the contents horizontally */
}

.logo {
  color: #74a879;
}

.signup-form img.google-logo {
  width: 100px;   height: 100px; 
  margin-bottom: 1rem; 
  border-radius: 50%;
}

.signup-form h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: 700;
}

.form-group {
  margin-bottom: 1rem;
  width: 100%; 
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input,
button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

button {
  margin-top: 1rem;
  border: none;
  background-color: #608564;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
  padding: 0.75rem;
}

button:hover {
  background-color: #537356;
}

.social-widgets {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.social-widget {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
  flex: 1;
  justify-content: center;
  margin: 0 0.5rem;
}

.social-widget img.social-logo {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.social-widget span {
  font-size: 0.875rem;
}
